
html{font-size: 16px;}
*{line-height: 1;}
p{margin: 0px;}

#input_n3ME2O5307{display: none;}
#input_536O0J3D4Q{display: none;}
#input_79VR363K46{display: none;}
#input_1h81i260IL{display: none;}
#input_L06B7wTr97{display: none;}
#input_20x3SGk452{display: none;}
#input_vZ0x32C82h{display: none;}
#input_4UB2334927{display: none;}
#input_0P7Pq2x1s5{display: none;}
#input_50G84T0fK5{display: none;}
#input_S6gi4WTs79{display: none;}
#input_561607zD6G{display: none;}


#w20240201ad5441f9b05af, form{max-width: 840px;
    margin: 0 auto;}

.doz_sys #s202402011afb32ca071d8 .btn-primary, .doz_sys #s20240201eacc33cde0675 .btn-primary, .doz_sys #s20240307006f061e5db43 .btn-primary, .doz_sys #s202403188114087720eaa .btn-primary{    background-color: #12691e;
    font-size: 20px ;
    padding: 15px 45px ;
    border-radius: 100px ;}
._input_form_submit{   background-color: #12691e !important;
    font-size: 20px !important;
    padding: 15px 45px !important;
    border-radius: 100px !important;}
.form_bottom{padding-bottom: 120px;}

.land_cont{width: 100%;
    font-size: 16px;}
.land_cont .in{max-width: 840px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;}
.land_cont .in img{width: 100%;}


.maps_cont{padding: 0 5%;
    box-sizing: border-box;
    width: 100%;
    margin-top: 40px;}
.maps_cont .map_btn_con{    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;}
.maps_cont .map_btn_con .map_btn{font-size: 1.8rem;
    margin: 0.5%;
    background-color: rgba(223,234,224,0.5);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    border-radius: 50px;
    color: #12691e;
    font-weight: 400;
    cursor: pointer;}
.maps_cont .map_btn_con .map_btn .new{position: absolute;
    width: 14px;
    height: 14px;
    background-color: #ff6432;
    top: 2px;
    right: 2px;
    border-radius: 20px;}
.maps_cont .map_btn_con .map_btn.act{background-color: #12691e;
    color: white !important;}
.maps_cont .map_dtl{margin-top: 40px;}
.maps_cont .map_dtl .map_unit{display: none;}
.maps_cont .map_dtl .map_unit.act{display: block;}
.maps_cont .map_dtl .map_unit .map_title{    font-size: 2.8rem;
    font-weight: 700;
    color: #014210;}
.maps_cont .map_dtl .map_unit .copy_con{}
.maps_cont .map_dtl .map_unit .copy_con .copy_unit{display: flex;
    margin-top: 20px;
}
.maps_cont .map_dtl .map_unit .copy_con .copy_unit .copy{font-size: 1.8rem;
    color: #014210;
    font-weight: 400;
    word-break: keep-all;
    line-height: 1.2;}
.maps_cont .map_dtl .map_unit .copy_con .copy_unit .copy.fw600{font-weight: 600;
    min-width: 6.5rem;}
.inter_con{position:relative;
    display: flex;}
.inter_con .interview{position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    padding: 0 5%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;}
.inter_con .interview video{width: 100%;}

.compl{width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
    box-sizing: border-box;}
.compl .in{padding-bottom: 10vh;}
.compl .coml_title{text-align: center;
    color: #505050;
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 20px;}
.compl .coml_title em{color: #12691e;}
.compl .coml_copy{    text-align: center;
    font-size: 20px;
    color: #505050;
    font-weight: 400;
    line-height: 1.6;}
.compl .coml_btn_con{text-align: center;
    margin-top: 40px;
    display: flex;
    justify-content: center;}
.compl .coml_btn_con .coml_btn{    background-color: rgba(18,105,30,0.1);
    color: #12691e;
    font-size: 20px;
    font-weight: 500;
    padding: 15px 45px;
    border-radius: 100px;
    display: flex;
    width: fit-content;
    cursor: pointer;}

.float_con{    position: fixed;
    bottom: 50px;
    left: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;}
.float_con .float_btn{
    padding: 15px 45px;
    border-radius: 100px;
    
    font-weight: 800;
    cursor: pointer;
    border: 2px solid #12691e;
    line-height: 1;
    background-color: #c8ff3c;}
.float_con .float_btn.img{padding: 0px;
    background-color: transparent;
    border: none;
    max-width: 680px;
    margin: 0 5%;}
.float_con .float_btn .float_p{font-size: 2rem; color: #12691e;}
.float_con .float_btn em{font-size: 2rem;
    color: #12691e;}
.op5{opacity: 0.5;}
.limit_con{width: 100%;
    background-color: #012c0b;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    background: linear-gradient(90deg,#014210,  #12691e, #008c8c, #126979, #014210);
    /* background: linear-gradient(90deg, #EC37D0, #D92B2B, #FFAA0D, #EC37D0); */
    background-size: 400%;
    -webkit-animation: huerotator 5s linear infinite;
    animation: huerotator 5s linear infinite;}
.limit_con .tit{    font-size: 34px;
    font-weight: 600;
    color: white;}
.limit_con .tit em{color: #55e280;
    font-weight: 900;
    font-size: 44px;}


@keyframes huerotator {
    0% {background-position: 0%;}
    100% {background-position: 400%;}
}

.prog_list{    display: flex;
    flex-wrap: wrap;
    padding: 0 5%;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;}
.prog_list .unit{width: 48%;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;}
.prog_list .unit .copy_con{padding: 15px 0;
    border-bottom: 1px solid #dcdcdc;
    width: 100%;}
.prog_list .unit .copy_con .prog_tit{color: #014210;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;}
.prog_list .unit .copy_con .prog_copy{font-size: 26px;
    font-weight: 400;
    color: #787878;}

.popup-banner-wrap #popup_S202311234f999cded5b26_215476{top:95px !important;}
.popup-banner-wrap #popup_S202311234f999cded5b26_230795{top:430px !important;}
.sns_float_con{    position: fixed;
    bottom: 30px;
    right: 30px;
    height: 100vh;
    display: flex;
    align-items: center;}
.sns_float_con .float_in{display: flex;
    flex-direction: column;
    width: 50px;}
.sns_float_con .float_in .sns_href{    width: 100%;
    margin-bottom: 10px;
    display: flex;}
.sns_float_con .float_in .sns_href:last-child{margin-bottom: 0px;}
.sns_float_con .float_in .sns_href img{width: 100%;}
.inter_con_02{width: 100%;
    padding: 0 5%;
    box-sizing: border-box;}
.inter_con_02 .interview{}
.inter_con_02 .interview video{width: 100%;}
.easy_prog_list{display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box;}
.easy_prog_list .unit{width: 49%; margin-bottom: 10%;}
.easy_prog_list .unit .gif_img{padding: 50%;
    position: relative;
    overflow: hidden;
    border-radius: 20px;}
.easy_prog_list .unit .gif_img img{    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;}
.easy_prog_list .unit .easy_copy{display: flex;
    align-items: center;
    margin-top: 20px;}
.easy_prog_list .unit .easy_copy .plus_01{width: 44px;
    margin-right: 10px;}
.easy_prog_list .unit .easy_copy .copy{color: #012c0b;
    font-size: 38px;
    font-weight: 600;}
.prog_list_02{    padding: 0 5%;
    box-sizing: border-box;}
.prog_list_02 .unit{margin-bottom: 10%;}
.prog_list_02 .unit .img{position: relative;
    padding-top: 66.66%;
    width: 100%;
    margin-bottom: 33px;}
.prog_list_02 .unit .img img{position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;}
.prog_list_02 .unit .img .ref_unit{    position: absolute;
    bottom: -33px;
    left: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;}
.prog_list_02 .unit .img .ref_unit .ref_in{    background-color: #012c0b;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    border-radius: 100px;}
.prog_list_02 .unit .img .ref_unit .ref_in .ref{    color: #55e381;
    font-size: 34px;
    font-weight: 400;}
.prog_list_02 .unit .tit{    text-align: center;
    padding-top: 20px;
    font-size: 48px;
    font-weight: 800;
    color: #014210;}
.prog_list_02 .unit .copy{    margin-top: 20px;
    font-size: 34px;
    word-break: keep-all;
    line-height: 1.4;
    text-align: center;}
.prog_list_02 .unit .copy em{font-weight: 800;}

.prog_list_02 .unit.line_unit{display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;}
.prog_list_02 .unit.line_unit.ty_02{margin-bottom: 10%;}
.prog_list_02 .unit.line_unit .line{width: 100%;
    height: 1px;
    background-color: #014210;}
.prog_list_02 .unit.line_unit .plus_con{width: 100px;
    min-width: 100px;;
    margin: 0 20px;
    display: fle}
.prog_list_02 .unit.line_unit .plus_con img{}
.new_top_con{padding: 0 5%;
    box-sizing: border-box;}
.new_top_con .top_gif{text-align: center;}
.new_top_con .top_gif .gif_unit{display: flex;}
.new_top_con .top_gif .gif_unit img{border-radius: 30px;}
.new_top_con .top_gif .coupon{padding: 0 5%;
    width: 100%;
    box-sizing: border-box;
    max-width: 540px;
    margin-top: -60px;}
.faq_con{margin-top: 80px;}
.faq_con .tit{text-align: center;
    font-size: 64px;
    font-weight: 800;
    color: #014210;
    margin-bottom: 40px;}
.faq_con .list{    padding: 0 5%;
    box-sizing: border-box;}
.faq_con .list .unit{background-color: #e9f2eb;
    padding: 34px;
    border-radius: 20px;
    margin-bottom: 2%;}
.faq_con .list .copy{    font-size: 30px;
    font-weight: 400;
    word-break: keep-all;
    line-height: 1.4;}
.faq_con .list .copy.sub_tit{font-weight: 800;
    margin-bottom: 10px;}
.prog_tit_con{
    width: fit-content;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 5%;}
.prog_tit_con.ty_02{background-color: #012c0b;}
.prog_tit_con .prog_tit_02{font-size: 60px;
    color: #014210;
    font-weight: 800;}
.prog_tit_con.ty_02 .prog_tit_02{background: linear-gradient(90deg, #ccf665, #44cb6a);
    color: transparent;
    -webkit-background-clip: text;}
.faq_con.ty_02{margin-top: 40px;
    margin-bottom: 80px;}

.cost_con{margin-top: 5%;}
.section_bg.fixed_bg{background-attachment: initial !important;}
.map_tit_con{text-align: center;
    margin-bottom: 40px;}
.map_tit_con .map_tit{color: #405646;
    font-size: 54px;
    font-weight: 400;
    line-height: 1.2;}
.map_tit_con .map_tit em{color: #405646;
    font-size: 54px;
    font-weight: 700;
    line-height: 1.2;}
.maps_cont.ver_2405 .map_dtl .map_unit .map_title{color: #405646;}
.maps_cont.ver_2405 .map_dtl .map_unit .copy_con .copy_unit .copy{color: #405646;}
.maps_cont.ver_2405 .map_btn_con .map_btn.act{background-color: #405646;}
.maps_cont.ver_2405 .map_btn_con .map_btn{color: #667f6c;}
.faq_con.v_2405 .list .unit{background-color: #edf1ea;}
.faq_con.v_2405 .tit{color: #405646;}
.faq_con.v_2405 .list .copy{color: #667f6c;}

.review_con{width: 100%; max-width: 925px; margin: 0 auto; margin-bottom: 10%;}
.review_img{width: 100%;}
.com_img{width: 100%;}
.cont_btn_con{display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 30%;}
.cont_btn{    background-color: #405646;
    color: white !important;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    border-radius: 40px;
    font-size: 36px;
    font-weight: 600;}
.coming_con{width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
    box-sizing: border-box;}

.grand_open{}
.pop-container .btn-group .btn{padding: 6px 0 !important;}


@media (max-width: 991px){
    .popup-banner-wrap #popup_S202311234f999cded5b26_215476{top:160px !important;}
    .popup-banner-wrap #popup_S202311234f999cded5b26_230795{top:350px !important;}

    .popup-banner-wrap #popup_S202311234f999cded5b26_224320{top:490px !important;}
    .popup-banner-wrap #popup_S202311234f999cded5b26_224321{top:490px !important;}
    .popup-banner-wrap #popup_S202311234f999cded5b26_227518{top:655px !important;}
    .popup-banner-wrap #popup_S202311234f999cded5b26_227519{top: 820px !important;}
}




@media(max-width:579px){
    html{font-size: 10px;}
    .maps_cont{margin-top: 20px;}
    .maps_cont .map_dtl .map_unit .copy_con .copy_unit{margin-top: 10px;}
    .compl .coml_title{font-size: 24px; margin-bottom: 10px;}
    .compl .coml_title em{font-size: 24px;}
    .compl .coml_copy{font-size: 16px;
        word-break: keep-all;}
    .compl .coml_btn_con{margin-top: 30px;}
    .compl .coml_btn_con .coml_btn{font-size: 16px;}
    .limit_con{height: 60px;}
    .limit_con .tit{font-size: 20px;}
    .limit_con .tit em{font-size: 30px;}
    .prog_list .unit .copy_con .prog_tit{font-size: 22px;
        margin-bottom: 6px;}
    .prog_list .unit .copy_con .prog_copy{font-size: 16px;}
    .prog_list .unit .copy_con{padding: 12px 0;}
    .maps_cont .map_btn_con .map_btn{padding: 8px 12px;
        font-size: 14px;
        margin: 3px;}
    .new_top_con .top_gif .gif_unit img{border-radius: 20px;}
    .new_top_con .top_gif .coupon{max-width: 320px;
        margin-top: -30px;}
    .easy_prog_list .unit .gif_img{border-radius: 14px;}
    .easy_prog_list .unit .easy_copy .copy{font-size: 20px;}
    .easy_prog_list .unit .easy_copy .plus_01{width: 24px;
        margin-right: 6px;}
    .easy_prog_list .unit .easy_copy{margin-top: 10px;}
    .prog_list_02 .unit .img .ref_unit .ref_in .ref{font-size: 20px;}
    .prog_list_02 .unit .img .ref_unit .ref_in{height: 40px;
        padding: 0 20px;}
    .prog_list_02 .unit .img .ref_unit{bottom: -20px;}
    .prog_list_02 .unit .img{margin-bottom: 20px;}
    .prog_list_02 .unit .tit{font-size: 28px;
        padding-top: 15px;}
    .prog_list_02 .unit .copy{font-size: 20px;
        margin-top: 15px;}
    .prog_list_02 .unit.line_unit .plus_con{width: 50px;
        min-width: 50px;}
    .maps_cont .map_btn_con .map_btn .new{width: 10px;
        height: 10px;
        top: 0;
        right: 0;}
    .maps_cont .map_dtl .map_unit .map_title{font-size: 2.4rem;}
    .maps_cont .map_dtl .map_unit .copy_con .copy_unit .copy{font-size: 1.6rem;}

    .faq_con .tit{font-size: 44px;
        margin-bottom: 20px;}
    .faq_con .list .copy{font-size: 18px;}
    .faq_con .list .unit{    padding: 24px;
        border-radius: 16px;}
    .faq_con .list .copy.sub_tit{margin-bottom: 5px;}
    .prog_tit_con{padding: 5px;;}
    .prog_tit_con .prog_tit_02{font-size: 32px;}
    .map_tit_con{margin-bottom: 10px;}
    .map_tit_con .map_tit em{font-size: 32px;}
    .cont_btn{font-size: 24px;
        height: 58px;}
    .float_con{bottom: 20px;}
}