
html{font-size: 16px;}
*{line-height: 1;}
p{margin: 0px;}


._input_form_submit{   background-color: #12691e !important;
    font-size: 20px !important;
    padding: 15px 45px !important;
    border-radius: 100px !important;}
.form_bottom{padding-bottom: 120px;}

.land_cont{width: 100%;
    font-size: 16px;
    overflow: hidden;}
.land_cont .in{max-width: 840px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;}
.land_cont .in img{width: 100%;}
.compl{width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
    box-sizing: border-box;}
.compl .in{padding-bottom: 10vh;}
.compl .coml_title{text-align: center;
    color: #505050;
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 20px;}
.compl .coml_title em{color: #12691e;}
.compl .coml_copy{    text-align: center;
    font-size: 20px;
    color: #505050;
    font-weight: 400;
    line-height: 1.6;}
.compl .coml_btn_con{text-align: center;
    margin-top: 40px;
    display: flex;
    justify-content: center;}
.compl .coml_btn_con .coml_btn{    background-color: rgba(18,105,30,0.1);
    color: #12691e;
    font-size: 20px;
    font-weight: 500;
    padding: 15px 45px;
    border-radius: 100px;
    display: flex;
    width: fit-content;
    cursor: pointer;}

.float_con{    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;}
.float_con .float_btn{
    border-radius: 100px;
    font-weight: 800;
    cursor: pointer;
    line-height: 1;}
.float_con .float_btn.img{padding: 0px;
    display: flex;
    background-color: transparent;
    border: none;}
.float_con .float_btn .float_p{font-size: 2rem; color: #12691e;}
.float_con .float_btn em{font-size: 2rem;
    color: #12691e;}
.op5{opacity: 0.5;}
.limit_con{width: 100%;
    background-color: #012c0b;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    background: linear-gradient(90deg,#014210,  #12691e, #008c8c, #126979, #014210);
    /* background: linear-gradient(90deg, #EC37D0, #D92B2B, #FFAA0D, #EC37D0); */
    background-size: 400%;
    -webkit-animation: huerotator 5s linear infinite;
    animation: huerotator 5s linear infinite;}
.limit_con .tit{    font-size: 34px;
    font-weight: 600;
    color: white;}
.limit_con .tit em{color: #55e280;
    font-weight: 900;
    font-size: 44px;}


@keyframes huerotator {
    0% {background-position: 0%;}
    100% {background-position: 400%;}
}

.com_img{width: 100%;}
.cont_btn_con{display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 30%;}
.cont_btn{    background-color: #405646;
    color: white !important;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    border-radius: 40px;
    font-size: 36px;
    font-weight: 600;}



.main_top{    margin-top: 60px;
    display: grid;}
.logo{    max-width: 240px;
    margin: 0 auto;
    margin-bottom: 80px;
    display: flex;}
.logo_img{}
.main_title_sub{margin-top: 10px;
    margin-bottom: 20px;}
.form_box{padding: 0 5%;
    box-sizing: border-box;
    overflow: hidden;
    transition: all .4s ease-in-out;}
.form_box .form_in{padding: 5%;
    background-color: #f2f3f5;
    border-radius: 40px;}
.form_box .form_in .form_top{display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}
.form_box .form_in .form_top .title_new{background-color: #e60000;
    color: white;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    padding: 4px 6px;}
.form_box .form_in .form_top .form_title{font-size: 34px;
    font-weight: 700;}
.form_list .form_unit .tit .essential{color: #ff3c3c;}
.form_box .form{padding: 0px;}
.form_input, .form_select{border: none;}
.agree .agree_con{background-color: white;
    border: none;}
.form_box .form_btn{font-weight: 700;}
.com_section{padding: 120px 0;}
.point_list{    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 14px;}
.point_list .unit{display: flex;}
.land_cont .in .point_dot{width: 44px;
    margin-bottom: 20px;}
.point_title_box{display: flex;
    position: relative;}
.point_title_box .point_coin{position: absolute;}
.point_title_box .point_coin{top: 50%; left: 50%;
    transition: all .4s ease-in-out;}
.point_title_box .point_coin.coin_01{width: 66px;}
.point_title_box .point_coin.coin_02{width: 60px;}
.point_title_box .point_coin.coin_03{width: 60px;}
.point_title_box.show .point_coin.coin_01{top: -50%;
    left: 12%;}
.point_title_box.show .point_coin.coin_02{top: 40%;
    left: 5%;}
.point_title_box.show .point_coin.coin_03{top: 30%;
    left: 85%;}

.com_section.bk{background-color: #222427;}
.com_section.bt_more{margin-bottom: 120px;}
.chart_title{margin-top: 120px;
    margin-bottom: 20px;}

.benefit_box{margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;}
.chart_title_02{margin-bottom: 40px;}

.simul_box{padding: 120px 5%;}
.simul_box .select_list{display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;}
.simul_box .select_list .unit{display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}
.simul_box .select_list .unit .select_title{color: white;
    margin-bottom: 10px;
    font-size: 22px;}
.simul_box .select_list .unit .select_cover{border: 1px solid white;
    width: 220px;
    border-radius: 100px;
    padding-right: 10px;
    box-sizing: border-box;}
.simul_box .select_list .unit .simul_select{
    border: none;
    background-color: transparent;
    color: white;
    font-size: 28px;
    width: 220px;
    height: 64px;
    text-align: center;
    border-radius: 100px;}
.simul_box .simul_rs{display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;}
.simul_box .simul_rs .rs_unit{display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 520px;
    padding: 20px 0;}
.simul_box .simul_rs .rs_unit:first-child{border-bottom: 1px solid #dcdcdc;}
.simul_box .simul_rs .rs_unit .rs_title{color: white;
    font-size: 28px;
    display: flex;
    align-items: center;}
.simul_box .simul_rs .rs_unit .rs_title .rs_dot{min-width: 8px;
    min-height: 8px;
    background-color: white;
    display: inline-flex;
    border-radius: 20px;
    margin-right: 10px;}
.simul_box .simul_rs .rs_unit .rs_con{color: white;
    font-size: 38px;
    font-weight: 700;}
.simul_box .simul_rs .rs_unit .rs_con.blue{color: #2f6cfd;}
.simul_money{margin-top: 40px;}

.line{display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    margin: 30px 0;}
.line .line_in{width: 1px;
    height: 100%;
    background-color: #505050;}
.review_list{margin-top: 60px;}
footer{width: 100%;
    background-color: #f5f5f5;
    padding: 0 5%;
    box-sizing: border-box;}
    footer .foot_in{    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    padding: 30px 0;}
    footer .foot_in .foot_logo{width: 110px;
    margin-right: 20px;}
    footer .foot_in .foot_copy_con{}
    footer .foot_in .foot_copy_con .copy{font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    margin: 0;
    color: #787878;}
    footer .foot_in .foot_copy_con .copy.right{margin-top: 20px;}
.news_img{    max-width: 90%;
    box-sizing: border-box;
    border-radius: 20px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 6px;}





@media (max-width: 991px){
   
}




@media(max-width:579px){
    html{font-size: 10px;}

    .cont_btn{font-size: 24px;
        height: 58px;}
    .main_top{margin-top: 40px;}
    .logo{max-width: 120px;
        margin-bottom: 40px;}
    .form_box .form_in .form_top .title_new{font-size: 18px;
        padding: 2px 4px;}
    .form_box .form_in{padding: 10% 5%;
        border-radius: 20px;}
    .form_box .form_in .form_top .form_title{font-size: 24px;}
    .com_section.bt_section{padding-top: 40px;}
    .land_cont .in .point_dot{width: 28px;
        margin-bottom: 10px;}
    .com_section{padding: 80px 0;}
    .point_title_box .point_coin.coin_01{width: 38px;}
    .point_title_box .point_coin.coin_02{width: 34px;}
    .point_title_box .point_coin.coin_03{width: 34px;}
    .chart_title{margin-top: 80px;}
    .benefit_box{margin-top: 20px;
        gap: 10px;}
    .chart_title_02{margin-bottom: 20px;}
    .com_section.bt_more{margin-bottom: 80px;}
    .simul_box .select_list .unit{        width: 44%;
        box-sizing: border-box;}
    .simul_box .select_list .unit .select_cover{width: 100%;}
    .simul_box .select_list .unit .simul_select{width: 100%;
        font-size: 20px;
        height: initial;
        padding: 10px 0;}
    .simul_box .select_list{gap: 10px;}
    .simul_box .simul_rs{margin-top: 20px;}
    .simul_box{padding: 80px 5%;}
    .simul_box .select_list .unit .select_title{font-size: 16px;}
    .simul_box .simul_rs .rs_unit .rs_title{font-size: 18px;}
    .simul_box .simul_rs .rs_unit .rs_con{font-size: 26px;}
    .simul_money{margin-top: 20px;}
    .simul_box .simul_rs .rs_unit .rs_title .rs_dot{min-width: 4px;
        min-height: 4px;
        margin-right: 8px;}
    .line{height: 80px;
        margin: 20px 0;}
    .review_list{margin-top: 40px;}
    .form_bottom{padding-bottom: 60px;}
    footer .foot_in{flex-wrap: wrap;}
    footer .foot_in .foot_logo{width: 90px;
        margin-bottom: 20px;}
        footer .foot_in .foot_copy_con .copy{font-size: 13px;}
        .point_list{gap: 10px;}
    .land_cont .agree .agree_con{max-height: 80px;}
    .privacy_copy{line-height: 1.2;}

}