<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/landing.css">
    <link rel="stylesheet" href="/css/geno.css">
    <link rel="stylesheet" type="text/css" href="/css/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/css/slick-theme.css"/>



    <script src="/js/jquery-3.5.1.min.js"></script>
    <script src="/js/geno.js"></script>
    
    <script type="text/javascript" src="/js/slick/slick.min.js"></script>

    <script>

        $(function () {

            $.initView = function () {

            };
            $.initView();

        })

        // $(window).on('load', function(){
        //     $('.review_slide').slick({
        //         dots: true,
        //         infinite: true,
        //         speed: 300,
        //         slidesToShow: 1,
        //         adaptiveHeight: true
        //     });
        // });
 

    </script>

</head>
<body>
    



    <div class="content">
        <div class="land_con">
            <div class="page">
                <div>
                    

                    <div class="land_cont">

                        <div class="in">

                            <!-- 메인 -->
                            <div class="back_con light">
                                <video class="com_img" src="https://winawork.github.io/images/geno/2026/geno_re_01.mp4" muted autoplay loop ></video>
                            </div>            

                            <!-- 비포에프터 -->
                            <img class="com_img sa sa-up" src="https://winawork.github.io/images/geno/2026/geno_re_03.png">
                            <img class="com_img sa sa-up" src="https://winawork.github.io/images/geno/2026/geno_re_04.png">
                            <img class="com_img sa sa-up" src="https://winawork.github.io/images/geno/2026/geno_re_05.png">
                            <img class="com_img sa sa-up" src="https://winawork.github.io/images/geno/2026/geno_re_06.png">

                            <!-- 가격 -->
                            <div class="re_body_price sa sa-up">
                                <div class="tit_box">
                                    <img class="com_img sa sa-up" src="https://winawork.github.io/images/geno/2026/geno_re_07.png">
                                </div>
                                <img class="com_img sa sa-up" src="https://winawork.github.io/images/geno/2026/geno_re_08.png">
                                <img class="com_img sa sa-up" src="https://winawork.github.io/images/geno/2026/geno_re_09.png">
                                <img class="com_img sa sa-up" src="https://winawork.github.io/images/geno/2026/geno_re_10.png">
                            </div>
                            
                            <!-- 몸 불편 -->
                            <img class="com_img sa sa-up" src="https://winawork.github.io/images/geno/2026/geno_re_11.png">
                            <img class="com_img sa sa-up" src="https://winawork.github.io/images/geno/2026/geno_re_12.png">
                            <img class="com_img sa sa-up" src="https://winawork.github.io/images/geno/2026/geno_re_13.png">
                            <img class="com_img sa sa-up" src="https://winawork.github.io/images/geno/2026/geno_re_14.png">
                            <img class="com_img sa sa-up" src="https://winawork.github.io/images/geno/2026/geno_re_15.png">

                            <!-- 전문가들이 설계한 -->
                            <img class="com_img sa sa-up" src="https://winawork.github.io/images/geno/2026/geno_re_16.png">
                            <img class="com_img sa sa-up" src="https://winawork.github.io/images/geno/2026/geno_re_17.png">
                            <video class="com_img sa sa-up" src="https://winawork.github.io/images/geno/2026/geno_re_18.mp4" muted autoplay loop ></video>
                            <img class="com_img sa sa-up" src="https://winawork.github.io/images/geno/2026/geno_re_19.png">
                            <img class="com_img sa sa-up" src="https://winawork.github.io/images/geno/2026/geno_re_20.png">

                            <!-- 리뷰 -->
                            <img class="com_img sa sa-up" src="https://winawork.github.io/images/geno/2026/geno_re_21.png">

                            <!-- 마무리 -->
                            <div class="re_lsat">
                                <div class="top_con">
                                    <div class="unit">
                                        <img class="com_img" src="https://winawork.github.io/images/geno/2026/geno_re_22.png">
                                        <img class="com_img txt" src="https://winawork.github.io/images/geno/2026/geno_re_23.png">
                                    </div>
                                    <img class="com_img" src="https://winawork.github.io/images/geno/2026/geno_re_24.png">
                                </div>
                                <img class="com_img sa sa-up" src="https://winawork.github.io/images/geno/2026/geno_re_25.png">
                                <img class="com_img sa sa-up" src="https://winawork.github.io/images/geno/2026/geno_re_26.png">
                                <img class="com_img sa sa-up" src="https://winawork.github.io/images/geno/2026/geno_re_27.png">
                                <img class="com_img sa sa-up" src="https://winawork.github.io/images/geno/2026/geno_re_28.png">
                                <img class="com_img sa sa-up" src="https://winawork.github.io/images/geno/2026/geno_re_29.png">
                            </div>



                            <!-- 강력한 프로그램 -->
                            <img class="com_img sa sa-up" src="https://winawork.github.io/images/geno/2026/geno_face_05.jpg">
                            <img class="com_img sa sa-up" src="https://winawork.github.io/images/geno/2026/geno_face_06.jpg">
                            <img class="com_img sa sa-up" src="https://winawork.github.io/images/geno/2026/geno_face_07.jpg">
                            <img class="com_img sa sa-up" src="https://winawork.github.io/images/geno/2026/geno_face_08.jpg">

                            <!-- 이런분께 -->
                            <img class="com_img sa sa-up" src="https://winawork.github.io/images/geno/2026/geno_face_09.jpg">

                            <!-- 다른 이유 -->
                            <img class="com_img sa sa-up" src="https://winawork.github.io/images/geno/2026/geno_face_10.jpg">
                            <img class="com_img sa sa-up" src="https://winawork.github.io/images/geno/2026/geno_face_11.jpg">
                            <img class="com_img sa sa-up" src="https://winawork.github.io/images/geno/2026/geno_face_12.jpg">

                            <!-- 공간 -->
                            <img class="com_img sa sa-up" src="https://winawork.github.io/images/geno/2026/geno_face_13.jpg">
                                
                            
                            <img class="com_img sa sa-up" src="https://winawork.github.io/images/geno/geno_0924_24.jpg">  

                            <div class="form_bottom"></div>

                        </div>
                
                        <div class="float_con">
                            <span class="float_btn img">
                                <img class="com_img" src="https://winawork.github.io/images/geno/2026/geno_face_cta.gif">
                            </span>
                        </div>
                
                    </div>


                </div>
            </div>
        </div>
    </div>


    <footer>
        <div class="foot_in">
            <!-- <div class="foot_logo">
                <img class="com_img" src="https://winawork.github.io/images/footer_logo.png">
            </div> -->
            <div class="foot_copy_con">
                <p class="copy">상호명 : (주)유로프랜드</p>
                <p class="copy">사업자등록번호 : 134-88-00204</p>
                <p class="copy">대표자 : 장성언                </p>
                <p class="copy">이메일 : eurojsu@naver.com</p>
                <p class="copy">주소 : 서울시 도봉구 노해로 389 제일빌딩 701호</p>
                <p class="copy right">Copyright ⓒ (주)유로프랜드 Co.,Ltd. All rights reserved. </p>
            </div>
        </div>
    </footer>

</body>
</html>