*{margin: 0px; padding: 0px; line-height: 1;}

header{position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    padding: 0 5%;
    box-sizing: border-box;}
.header_in{display: flex;
    align-items: center;
    height: 80px;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;}
.header_in .header_logo{}
.header_in .header_logo .logo{height: 40px;}
.header_in .header_logo .logo.none{display: none;}
.mo_icon{display: none;}
.mo_icon .mo_line{}
.header_in .menu_con{}
.header_in .menu_con .menu_list{width: 580px;
    display: flex;
    align-items: center;
    justify-content: space-between;}
.header_in .menu_con .menu_list .menu{color: white;
    font-size: 16px;
    text-decoration: none;
    font-weight: 400;
    width: 25%;
    transition: all 0.4s;
    text-align: center;}
.header_in .menu_con .menu_list .menu_cont {width: 25%;
    display: flex;
    justify-content: center;
    transition: all 0.4s;}
.header_in .menu_con .menu_list .menu.cont{color: white;
    padding: 0 30px;
    border-bottom: 1px solid white;
    height: 40px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: initial;
    justify-content: center;}
.moIcon{cursor: pointer;
    display: none;
    position: relative;
    width: 26px;
    height: 21px;
    z-index: 1;}
.moLine{width: 26px;
    height: 3px;
    background-color: #141414;
    transition: all 0.4s;
    border-radius: 20px;
    position: absolute;}
.moIcon{width: 26px;
    height: 21px;}
.moLine{width: 26px;
    height: 3px;}
.moIcon .moLine:nth-child(1) {width: 18px;}
.moIcon .moLine:nth-child(2) {top: 6px;}
.moIcon .moLine:nth-child(3) {bottom: 6px;}
.moIcon .moLine:nth-child(4) {bottom: 0; width: 18px; right: 0px;}
.moAct .moLine{background-color: #141414;}
.moAct .moLine:nth-child(1) {
    -webkit-transform:translateY(-6px);
    transform: translateY(-6px);
    opacity: 0;}
.moAct .moLine:nth-child(2) {
    -webkit-transform: translateY(3px) rotate(-45deg);
    transform: translateY(3px) rotate(-45deg);
}
.moAct .moLine:nth-child(3) {
    -webkit-transform: translateY(-3px) rotate(45deg);
    transform: translateY(-3px) rotate(45deg);
}
.moAct .moLine:nth-child(4) {opacity: 0;
    -webkit-transform:translateY(6px);
    transform: translateY(6px);}
.moAct .moLine:nth-child(1) {top: -3px; opacity: 0;}
.moAct .moLine:nth-child(2) {
    -webkit-transform: translateY(3px) rotate(-45deg);
    transform: translateY(3px) rotate(-45deg);
}
.moAct .moLine:nth-child(3) {
    -webkit-transform: translateY(-3px) rotate(45deg);
    transform: translateY(-3px) rotate(45deg);
}
.moAct .moLine:nth-child(4) {opacity: 0; bottom: -3px;}

header.act{background-color: white;}
header.act .header_in .header_logo .logo.wh{display: none;}
header.act .header_in .header_logo .logo.orig{display: flex;}
header.act .header_in .menu_con .menu_list .menu{color: #1e1e1e;}
header.act .header_in .menu_con .menu_list .menu_cont{}
header.act .header_in .menu_con .menu_list .menu.cont{color: #9c836a; border-color: #9c836a;}
  
.arc_main{    height: 100dvh;
    width: 100%;
    position: relative;}
.arc_main .arc_video{position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;}
.arc_main .main_con{width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
    box-sizing: border-box;}
.arc_main .main_con .main_in{width: 100%;
    max-width: 680px;
    text-align: center;}
.arc_main .main_con .main_in .main_logo{width: 280px;
    margin-bottom: 40px;}  
.arc_main .main_con .main_in .main_copy{color: white;
    font-size: 24px;
    word-break: keep-all;
    line-height: 1.4;
    margin-bottom: 20px;
    font-weight: 300;}
.arc_main .main_con .main_in .main_copy.mo{display: none;}

.arc_main .main_con .main_in .sub_copy{color: white;
    line-height: 1.4;
    font-size: 16px;
    font-weight: 200;
    word-break: keep-all;
    opacity: 0.8;
    max-width: 520px;
    margin: 0 auto;
    margin-bottom: 80px;}
.contact_btn{    font-size: 24px;
    color: white !important;
    border: 1px solid white;
    padding: 0 80px;
    display: flex;
    margin: 0 auto;
    height: 54px;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-weight: 400;
    width: fit-content;}




/* 배너 상단 영역 */
.banner_top {position: relative;
    width: 100%;
    height: 540px;}
.banner_top .banner_img_con {position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;}
.banner_top .banner_img_con .img_cover{width: 100%;
    height: 100%;
    object-fit: cover;}
.banner_top .banner_img_con .filer {position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;}
.banner_top .banner_img_con .filer.brand {background-color: rgba(156, 131, 106, 0.8);}
.mx1440 {max-width: 1440px;
    margin: 0 auto;}
.banner_con {width: 100%;
    padding: 0 5%;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;}
.banner_con .banner_con_in{display: flex;
    position: relative;
    flex-direction: column;
    text-align: center;}
.banner_con .brand_logo {width: 120px;
    margin: 0 auto;
    margin-bottom: 40px;
    opacity: 0.3;}
.banner_con .banner_tit {    color: white;
    font-size: 38px;
    font-weight: 200;}
.banner_con .banner_copy {color: white;
    font-weight: 200;
    font-size: 22px;
    margin-top: 10px;}

/* 공용 히어로 영역 */
.com_hero {margin-top: 120px;
    padding: 0 5%;
    box-sizing: border-box;}
.com_hero.lst{padding-bottom: 180px;}
.com_hero .mx1440 {}
.com_hero .barnd_intro {text-align: center;}
.com_hero .barnd_intro .brand_banner {width: 100%;
    border-radius: 500px;
    height: 440px;
    object-fit: cover;
    max-width: 1080px;
    margin: 0 auto;}
.com_hero .barnd_intro .banner_tit {font-size: 26px;
    max-width: 680px;
    margin: 0 auto;
    word-break: keep-all;
    margin-top: 20px;
    line-height: 1.4;
    font-weight: 300;}
.com_hero .barnd_intro .banner_tit em{font-weight: 600;
    font-style: normal;}
    .com_hero .barnd_intro .banner_tit em.point_color{color: #9c836a;}

/* 핵심 케어 시스템 리스트 */
.care_list {max-width: 1080px;
    margin: 120px auto 0px;
    display: flex;
    justify-content: space-between;}
.com_tit {font-size: 44px;
    font-weight: 600;
    line-height: 1.2;}
.com_sub{font-size: 24px;
    margin-top: 10px;
    color: #9c836a;
    line-height: 1.2;}
.care_list .list {display: flex;
    flex-direction: column;
    gap: 40px; 
    width: 600px;}
.care_list .list .unit {display: flex;
    gap: 8px;
    width: 100%;
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 20px;
    flex-direction: column;}
.care_list .list .unit .care_copy {font-size: 24px;}
.care_list .list .unit .care_copy.eng {color: #9c836a;
    font-size: 18px;}

/* 서브 버튼 영역 */
.sub_btn_con {text-align: center;
    margin-top: 80px;
    display: flex;
    justify-content: center;}
.sub_btn_con .sub_btn {font-size: 22px;
    font-weight: 400;
    border-radius: 100px;
    border: 1px solid #9c836a;
    padding: 0 30px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #9c836a;}

.com_tit_con{}
.com_tit_con.center{margin: 0 auto;
    align-items: center;
    display: grid;
    justify-content: center;}
.com_tit_con.center .com_tit{text-align: center;}
.com_tit_con.center .com_sub{text-align: center;}



.pro_list{display: flex;
    justify-content: space-between;
    margin-top: 80px;}
.pro_list .unit{width: 25%;}
.pro_list .unit .img_con{position: relative;
    display: flex;
    overflow: hidden;}
.pro_list .unit .copy_con{margin-top: 10px;
    max-width: 90%;}
.pro_list .unit .prog_tit_con{position: absolute;
    width: 100%;
    height: 60%;
    background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.6));
    bottom: 0;
    left: 0;
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-end;}
.pro_list .unit .prog_tit_con .pro_tit{font-size: 20px;
    color: white;
    font-weight: 600;
    margin-bottom: 4px;
    line-height: 1.2;}
.pro_list .unit .prog_tit_con .pro_sub{color: #d1bb9e;
    font-weight: 300;
    line-height: 1.2;}
.pro_list .unit .pro_ref{line-height: 1.2;
    font-size: 16px;
    word-break: keep-all;
    height: 40px;}
.pro_list .unit .copy_con .pro_info{list-style: disc;
    padding-left: 20px;
    border-top: 2px solid #d1bb9e;
    margin-top: 20px;
    padding-top: 10px;}
.pro_list .unit .copy_con .pro_info .info_copy{color: #9c836a;
    line-height: 1.6;
    word-break: keep-all;
    font-size: 16px;}

.mx1080{margin: 0 auto;
    max-width: 1080px;}

.store_menu_list{margin-top: 80px;
    display: flex;
    gap: 10px;
    justify-content: center;}
.store_menu_list .store_menu{font-size: 20px;
    color: #9c836a;
    border: 1px solid #9c836a;
    height: 38px;
    display: flex;
    align-items: center;
    padding: 0px 24px;
    border-radius: 50px;
    cursor: pointer;}
.store_menu_list .store_menu.act{background-color: rgba(156,131,106,1);
    color: white;}
.map_list{margin-top: 40px;
    display: flex;
    justify-content: space-between;
    gap: 20px;}
.map_list .map{width: 50%;
    height: 400px;
    background-color: #f0f0f0;
    border: 1px solid #dcdcdc;
    box-sizing: border-box;}
.map_list .map_info_con{width: 50%; display: none;}
.map_list .map_info_con.active{display: block;}
.map_list .map_info_con .store_tit{font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d1bb9e;}
.map_list .map_info_con .store_tit em{color: #9c836a;}
.map_list .map_info_con .list{display: flex;
    flex-direction: column;
    gap: 20px;}
.map_list .map_info_con .list .unit{display: flex;
    justify-content: space-between;}
.map_list .map_info_con .list .unit .copy{font-size: 18px;
    line-height: 1.2;
    word-break: keep-all;}
.map_list .map_info_con .list .unit .copy.tit{min-width: 100px;
    font-weight: 600;}
.map_list .map_info_con .list .unit .copy_con{width: 100%;}
.map_list .map_info_con .list .unit .copy.ref{color: #9c836a;
    font-size: 16px;}
.reserv_btn{display: flex;
    gap: 4px;
    align-items: center;
    border: 1px solid #dcdcdc;
    padding: 0 30px;
    height: 40px;
    border-radius: 6px;
    box-sizing: border-box;
    width: fit-content;}
.reserv_btn .naver_icon{height: 18px;}
.reserv_btn span{}

.map_list .map_info_con .list .unit .btn_con{display: flex;
    width: 100%;
    gap: 6px;}

.reserv_btn.home{}
.map_list .map_info_con .list .unit.center{align-items: center;}

/* 🔥 말풍선 스타일 */
.customOverlay {
    position: absolute;
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
    border: 1px solid #ddd;
    transform: translate(-50%, -120%);
}








.com_img{width: 100%;}
footer{width: 100%;
    background-color: #f2efeb;
    padding: 0 5%;
    box-sizing: border-box;}
    footer .foot_in{    max-width: 1280px;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 30px 0;}
    footer .foot_in .foot_logo{width: 130px;
    margin-bottom: 20px;
    margin-right: 0px;}
    footer .foot_in .foot_copy_con{text-align: center;}
    footer .foot_in .foot_copy_con .copy{font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    margin: 0;
    color: #787878;}
    footer .foot_in .foot_copy_con .copy.right{margin-top: 20px;}


/* 전체화면 버튼 */ 

video::-webkit-media-controls-fullscreen-button { display: none !important;  } 
.sa {
    opacity: 0;
    transition: all .5s ease;
}

.dy1 {
     transition-delay: .1s !important;
}

.dy2 {
     transition-delay: .2s !important;
}

.dy3 {
     transition-delay: .3s !important;
}
.dy4 {
    transition-delay: .4s !important;
}
.dy5 {
    transition-delay: .5s !important;
}
.dy6 {
    transition-delay: .6s !important;
}
.sa-up {
    transform: translate(0, 100px);
  }
.sa-down {
    transform: translate(100px, 100px);
    transform: scale(1.4);
  }
.sa-scale {
    transform: scale(1.4);
}

.sa-ro-sc{
    transform: scale(1.4);
    transform: perspective();
}

.sa-flip{
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.sa.show_02 {
        opacity: 1;
        transform: none;
      }


@media (max-width: 991px){

}



@media(max-width:579px){
    .arc_main .main_con .main_in .main_logo{width: 140px;
        margin-bottom: 20px;}
    .arc_main .main_con .main_in .main_copy{font-size: 16px;}
    .arc_main .main_con .main_in .main_copy.pc{display: none;}
    .arc_main .main_con .main_in .main_copy.mo{display: block;}
    .arc_main .main_con .main_in .sub_copy{font-size: 12px;
        margin-bottom: 60px;}
    .contact_btn{font-size: 16px;
        height: 38px;
        padding: 0 80px;
    }
    .banner_top{height: 340px;}
    .banner_con .brand_logo{width: 80px; margin-bottom: 20px;}
    .banner_con .banner_tit{font-size: 24px;}
    .banner_con .banner_copy{font-size: 16px;}
    .banner_con .banner_con_in{padding-top: 40px;}
    .com_hero{margin-top: 60px;}
    .com_hero .barnd_intro .brand_banner{height: 180px;}
    .com_hero .barnd_intro .banner_tit{font-size: 16px;
        margin-top: 10px;}
    .care_list{flex-wrap: wrap;
        margin-top: 60px;}
    .com_tit{font-size: 24px;}
    .care_list .list{margin-top: 20px;
        gap: 20px;}
    .care_list .list .unit .care_copy.eng{font-size: 12px;}
    .care_list .list .unit .care_copy{font-size: 16px;}
    .care_list .list .unit{padding-bottom: 10px;}
    .sub_btn_con .sub_btn{font-size: 16px;
        height: 48px;}
    .com_hero.lst{padding-bottom: 120px;}
    .sub_btn_con{margin-top: 60px;}
    .com_sub{font-size: 16px;}
    .pro_list{margin-top: 40px;
        flex-wrap: wrap;
        gap: 60px;}
    .pro_list .unit{width: 100%;}
    .pro_list .unit .img_con{width: 100%;
        height: 300px;
        border-radius: 20px;}
    .pro_list .unit .img_con img{width: 100%;
        height: 100%;
        object-fit: cover;}
    .pro_list .unit .prog_tit_con .pro_tit{font-size: 18px;}
    .pro_list .unit .prog_tit_con .pro_sub{font-size: 14px;}
    .pro_list .unit .copy_con{max-width: 100%;}
    .pro_list .unit .pro_ref{font-size: 14px;
        height: initial;}
    .pro_list .unit .copy_con .pro_info{margin-top: 10px;}
    .pro_list .unit .copy_con .pro_info .info_copy{font-size: 13px;}
    .map_list{flex-wrap: wrap;
        margin-top: 20px;}
    .map_list .map{width: 100%;
        height: 200px;}
    .map_list .map_info_con{width: 100%;}
    .map_list .map_info_con .list .unit{flex-wrap: wrap;}
    .store_menu_list{margin-top: 40px;
        gap: 6px;}
    .store_menu_list .store_menu{font-size: 14px;}
    .map_list .map_info_con .store_tit{font-size: 18px;}
    .map_list .map_info_con .list .unit .copy{font-size: 14px;}
    .map_list .map_info_con .list .unit .copy.ref{font-size: 14px;}
    .map_list .map_info_con .list .unit .copy.tit{margin-bottom: 6px;}
    .reserv_btn span{font-size: 14px;}

    .header_in .header_logo .logo{height: 32px;}
    .moIcon{display: flex;}
    .h_motion{transform: translate(0, 30px);
        opacity: 0;}
    .header_in .menu_con{background-color: white;
        height: 100%;
        display: none;
        width: 100%;
        position: fixed;
        left: 0;
        top: 0px;
        overflow: hidden;}
    .header_in .menu_con .menu_list{width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        justify-content: center;
        height: 100%;
        align-content: center;
        flex-flow: column;
        border-top: 1px solid #dcdcdc;
        padding: 30px 5%;
        box-sizing: border-box;
        gap: 40px;}
    
    .header_in .menu_con.head_motion_mo .menu_list .menu{color: #1e1e1e;}
    .head_motion_mo .h_motion{transform: none;
        opacity: 1;}
    .header_in .menu_con .menu_list .menu{font-size: 22px;}
    .header_in .menu_con .menu_list .menu.cont{height: initial;
        padding: 0px;
        color: #9c836a;
        border-color: #9c836a;}
    .header_in{height: 70px;}
    .moLine{background-color: white;}
    .head_motion_mo .moLine{background-color: #1e1e1e;}
    .act .moLine{background-color: #1e1e1e;}

    .mdy1{transition-delay: .1s !important;}
    .mdy2{transition-delay: .2s !important;}
    .mdy3{transition-delay: .3s !important;}
    .mdy4{transition-delay: .4s !important;}
}