<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/bodyarc/home/bodyarc_home.css">

    <script src="/js/jquery-3.5.1.min.js"></script>
    <script src="/js/bodyarc.js"></script>

    <script>

        $(function () {


            $.initView = function () {

            };
            $.initView();

        })
 

    </script>

</head>
<body>
    
    <div class="banner_top">
        <div class="banner_img_con">
            <img class="img_cover" src="https://winawork.github.io/images/bodyarc/brand_banner.png">
            <div class="filer brand"></div>
        </div>
        <div class="mx1440 banner_con">
            <div class="banner_con_in">
                <img class="brand_logo" src="https://winawork.github.io/images/bodyarc/symbol_logo_wh.png">
                <p class="banner_tit">LOCATIONS</p>
                <p class="banner_copy">A Personalized Approach to Balance & Beauty</p>
            </div>
        </div>
    </div>

    <div class="com_hero lst">
        <div class="mx1440">

            <div class="store_con">

                <div class="com_tit_con center">
                    <p class="com_tit">바디아크 지점 안내</p>
                    <p class="com_sub">가까운 바디아크를 찾아보세요.</p>
                </div>

                <div class="store_menu_list">
                    <div class="store_menu act" data-store="광주">광주점</div>
                    <div class="store_menu" data-store="제주">제주점</div>
                </div>

                <div class="map_list">
                    <div class="map" id="map"></div>

                    <!-- 광주 -->
                    <div class="map_info_con" data-store="광주">
                        <p class="store_tit">바디아크 <em>광주점</em></p>
                        <div class="list">
                            <div class="unit">
                                <p class="copy tit">주소</p>
                                <div class="copy_con">
                                    <p class="copy">광주 서구 죽봉대로 76 5층</p>
                                    <p class="copy ref">신세계 백화점 건너편 육교 앞 (기업 은행 건물) 5층</p>
                                </div>
                            </div>
                            <div class="unit">
                                <p class="copy tit">영업시간</p>
                                <div class="copy_con">
                                    <p class="copy">평일 10:00~21:00</p>
                                    <p class="copy">주말 10:00~21:00</p>
                                    <p class="copy ref">매주 토,일 휴무</p>
                                </div>
                            </div>
                            <div class="unit">
                                <p class="copy tit">연락처</p>
                                <div class="copy_con">
                                    <a class="copy" href="tel:0507-1368-2158">0507-1368-2158</a>
                                </div>
                            </div>

                            <div class="unit">
                                <a class="naver_btn" href="https://map.naver.com/p/search/%EB%B0%94%EB%94%94%EC%95%84%ED%81%AC/place/1682936724?c=15.00,0,0,0,dh&placePath=/home">예약하기</a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="sub_btn_con">
                <a href="#" class="sub_btn">주요 프로그램 알아보기</a>
            </div>

        </div>
    </div>

    <footer>
        <div class="foot_in">
            <div class="foot_logo">
                <img class="com_img" src="https://winawork.github.io/images/bodyarc_logo.png">
            </div>
            <div class="foot_copy_con">
                <p class="copy">상호명 : 바디아크 SPA&amp;DIET 광주</p>
                <p class="copy">사업자등록번호 : 184-13-01836</p>
                <p class="copy">대표자 : 안정미</p>
                <p class="copy">주소 : 광주광역시 서구 죽봉대로 76, 5층(농성동)</p>
                <p class="copy right">Copyright ⓒ BODYARC Co.,Ltd. All rights reserved. </p>
            </div>
        </div>
    </footer>

</body>
</html>