<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/landing.css">
    <link rel="stylesheet" href="/css/slick.css">
    <link rel="stylesheet" href="/css/money.css">

    <script src="/js/jquery-3.5.1.min.js"></script>
    <script src="/js/euro.js"></script>

    <script>

        $(function () {

            $.get_html = function(){
                $('.header').load('list.html #1 .unit:nth-child(1n+2)');
            }


            $.initView = function () {
                $.get_html();
            };
            $.initView();

        })
 

    </script>

</head>
<body>
    



    <div class="content">
        <div class="land_con">
            <div class="page">
                <div>

                    

                    <div class="land_cont">

                        <div class="in">

                            <img class="com_img" src="https://winawork.github.io/images/money_bt_250721_01.gif">     
                            <img class="com_img sa sa-up" src="https://winawork.github.io/images/money_bt_250721_02.png"> 
                            <img class="com_img sa sa-up" src="https://winawork.github.io/images/money_bt_250721_03.png">
                            <img class="com_img sa sa-up" src="https://winawork.github.io/images/money_bt_250721_04.gif">
                            <div class="intro_flex_con sa sa-up">
                                <img class="com_img " src="https://winawork.github.io/images/money_bt_250721_05.gif">
                                <img class="com_img " src="https://winawork.github.io/images/money_bt_250721_06.gif">
                                <img class="com_img " src="https://winawork.github.io/images/money_bt_250721_07.gif">
                            </div>

                            <img class="com_img sa sa-up" src="https://winawork.github.io/images/money_bt_250721_08.gif">
                            <img class="com_img sa sa-up" src="https://winawork.github.io/images/money_bt_250721_09.png">
                            <img class="com_img sa sa-up" src="https://winawork.github.io/images/money_bt_250721_10.gif">
                            <img class="com_img sa sa-up" src="https://winawork.github.io/images/money_bt_250721_11.gif">
                            <img class="com_img sa sa-up" src="https://winawork.github.io/images/money_bt_250721_12.png">
                            <img class="com_img sa sa-up" src="https://winawork.github.io/images/money_bt_250721_13.png">
                            <img class="com_img sa sa-up" src="https://winawork.github.io/images/money_bt_250721_14.png">
                            <img class="com_img sa sa-up" src="https://winawork.github.io/images/money_bt_250721_15.png">
                            <img class="com_img sa sa-up" src="https://winawork.github.io/images/money_bt_250721_16.png">
                            <div class="form_bottom"></div>
                        

                        </div>
                
                        <div class="float_con">
                            <span class="float_btn img">
                                <img class="com_img" src="https://winawork.github.io/images/250714_17.gif"> 
                            </span>
                        </div>
                
                    </div>


                </div>
            </div>
        </div>

        <div class="refund_con">
            <p class="refund_copy">[환불 정책 안내]<br>
                - 세미나 7일 전까지: 100% 환불 (현금영수증 자동 취소)<br>
                - 6일~3일 전: 50% 환불<br>
                - 2일 전~당일: 환불 불가</p>
        </div>


    </div>


    <footer>
        <div class="foot_in">
            <!-- <div class="foot_logo">
                <img class="com_img" src="https://winawork.github.io/images/footer_logo.png">
            </div> -->
            <div class="foot_copy_con">
                <p class="copy">상호명 : (주)유로프랜드</p>
                <p class="copy">사업자등록번호 : 134-88-00204</p>
                <p class="copy">대표자 : 장성언                </p>
                <p class="copy">이메일 : eurojsu@naver.com</p>
                <p class="copy">주소 : 서울시 도봉구 노해로 389 제일빌딩 701호</p>
                <p class="copy right">Copyright ⓒ (주)유로프랜드 Co.,Ltd. All rights reserved. </p>
            </div>
        </div>
    </footer>

</body>
</html>