<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/landing.css">
    <link rel="stylesheet" href="/css/slick.css">
    <link rel="stylesheet" href="/css/bodyarc.css">

    <script src="/js/jquery-3.5.1.min.js"></script>
    <script src="/js/euro.js"></script>

    <script>

        $(function () {


            $.initView = function () {

            };
            $.initView();

        })
 

    </script>

</head>
<body>
    
    <div class="content">
        <div class="land_con">
            <div class="page">
                <div>


                    <div class="land_cont">
                        <div class="in">
                            <img class="com_img" src="https://winawork.github.io/images/250304_arc_01.png" class="">
                            <img class="com_img" src="https://winawork.github.io/images/250304_arc_02.gif" class="">
                            <img class="com_img" src="https://winawork.github.io/images/250304_arc_03.png" class="">
                            <img class="com_img sa sa-up" src="https://winawork.github.io/images/250304_arc_04_01.png" class="">
                            <img class="com_img sa sa-up" src="https://winawork.github.io/images/250304_arc_04.png" class="">
                            <img class="com_img sa sa-up" src="https://winawork.github.io/images/250304_arc_05.png" class="">
                            <img class="com_img sa sa-up" src="https://winawork.github.io/images/250304_arc_06.png" class="">
                            <div class="line_remove sa sa-up">
                                <img class="com_img" src="https://winawork.github.io/images/250304_arc_07.gif" class="">
                            </div>
                            <div class="line_remove sa sa-up">
                                <img class="com_img" src="https://winawork.github.io/images/250304_arc_08.gif" class="">
                            </div>
                            <img class="com_img sa sa-up" src="https://winawork.github.io/images/250304_arc_09.png" class="">
                            <img class="com_img sa sa-up" src="https://winawork.github.io/images/250304_arc_10.png" class="">
                            <img class="com_img sa sa-up" src="https://winawork.github.io/images/250304_arc_11.png" class="">
                            <img class="com_img sa sa-up" src="https://winawork.github.io/images/250304_arc_12.png" class="">
                            <img class="com_img sa sa-up" src="https://winawork.github.io/images/250304_arc_13.png" class="">
                            <img class="com_img sa sa-up" src="https://winawork.github.io/images/250304_arc_14.png" class="">
                            <img class="com_img sa sa-up" src="https://winawork.github.io/images/250304_arc_15.png" class="">
                            <img class="com_img sa sa-up" src="https://winawork.github.io/images/250304_arc_16.png" class="">
                            <img class="com_img sa sa-up" src="https://winawork.github.io/images/250304_arc_17.png" class="">
                            <img class="com_img sa sa-up" src="https://winawork.github.io/images/250304_arc_18.png" class="">
                            <img class="com_img sa sa-up" src="https://winawork.github.io/images/250304_arc_19.png" class="">
                            <img class="com_img sa sa-up" src="https://winawork.github.io/images/250304_arc_20.png" class="">
                            <img class="com_img sa sa-up" src="https://winawork.github.io/images/250304_arc_21.png" class="">
                            <img class="com_img sa sa-up" src="https://winawork.github.io/images/250304_arc_22.png" class="">
                
                            <div class="faq_con">
                                <p class="faq_tit">자주 묻는 질문 (FAQ)</p>
                                <div class="list">
                                    <div class="unit">
                                        <p class="faq_q"><em>Q.</em> 예약 후 일정 변경이 가능한가요?</p>
                                        <div class="faq_a_con">
                                            <p class="faq_a">네! 방문 하루 전까지 무료 변경 가능합니다. 갑작스러운 일정 변경이 필요하시면 미리 연락 주세요!</p>
                                        </div>
                                    </div>

                                    <div class="unit">
                                        <p class="faq_q"><em>Q.</em> 관리 시간은 얼마나 걸리나요?</p>
                                        <div class="faq_a_con">
                                            <p class="faq_a">프로그램별 40~90분 진행되며, 고객님의 컨디션과 일정에 맞춰 맞춤형 설계도 가능합니다. 바쁜 일정 속에서도 부담 없이 받아보실 수 있도록 도와드릴게요!</p>
                                        </div>
                                    </div>

                                    <div class="unit">
                                        <p class="faq_q"><em>Q.</em> 무료 체험 후 비용이 어떻게 되나요?</p>
                                        <div class="faq_a_con">
                                            <p class="faq_a">무료 체험 후, 고객님께 가장 적합한 맞춤 관리를 추천해드립니다.
                                                현재 오픈 기념 한정 초특가 프로모션 진행 중으로</p>
                                            <p class="faq_a_item">정규 회원권 결제 시 50% 할인 (첫 방문 후 72시간 한정)</p>
                                            <p class="faq_a_item">선불 충전권 이용 시, 최대 20% 적립 + 체형 밸런스 테라피(60분) 1회 무료 제공</p>
                                            <p class="faq_a_item lst">당일 등록 시 40만원 상당 프리미엄 한방오일 1종 증정</p>
                                            <p class="faq_a">지금이 가장 좋은 기회니까 놓치지 마세요!</p>
                                        </div>
                                    </div>

                                    <div class="unit">
                                        <p class="faq_q"><em>Q.</em> 무료 체험 후 바로 결제해야 하나요?</p>
                                        <div class="faq_a_con">
                                            <p class="faq_a">체험 후 충분히 고민해보실 수 있도록 72시간 동안 혜택을 유지해드려요. 하지만 한정된 기간 동안 오직 100분께만 적용되는 혜택이니 빠르게 결정하시는 걸 추천드립니다!</p>
                                        </div>
                                    </div>

                                    <div class="unit">
                                        <p class="faq_q"><em>Q.</em> 프로그램 효과가 언제부터 나타나나요?</p>
                                        <div class="faq_a_con">
                                            <p class="faq_a">개인차는 있지만, 많은 고객님들이 1~3회 차 관리부터 눈에 띄는 변화를 경험하고 계세요. 꾸준히 받으시면 더욱 확실한 차이를 경험하실 수 있습니다!</p>
                                        </div>
                                    </div>

                                    <div class="unit">
                                        <p class="faq_q"><em>Q.</em> 어떤 프로그램이 나에게 맞을까요?</p>
                                        <div class="faq_a_con">
                                            <p class="faq_a">처음 방문하시면 전문가 1:1 상담 후, 고객님께 최적화된 프로그램을 추천해드립니다. 바디 컨디션과 평소 고민에 맞춰 맞춤형 솔루션을 제공하니 부담 없이 상담 받아보세요!</p>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="form_bottom"></div>

                        </div>
                
                        <div class="float_con">
                            <span class="float_btn img">
                                <img class="com_img" src="https://winawork.github.io/images/250304_arc_24.png" class="">
                            </span>
                        </div>
                
                    </div>


                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="foot_in">
            <!-- <div class="foot_logo">
                <img class="com_img" src="https://winawork.github.io/images/footer_logo.png">
            </div> -->
            <div class="foot_copy_con">
                <p class="copy">상호명 : 바디아크 SPA&DIET</p>
                <p class="copy">사업자등록번호 : 104-86-33976</p>
                <p class="copy">대표자 : 현준범</p>
                <p class="copy">주소 : 제주특별자치도 제주시 한라대학로 15, 4층(노형동)</p>
                <p class="copy right">Copyright ⓒ 바디아크 Co.,Ltd. All rights reserved. </p>
            </div>
        </div>
    </footer>

</body>
</html>